.Dictionary input {
  width: 100%;
  border-radius: 5px;
}

.Dictionary form {
  line-height: 36px;
  background: #ffffff;
  margin: 20px auto;
  padding: 8px 18px;
  border-radius: 5px;
  padding: 18px;
  box-shadow: 0 1px 2px 3px rgba(204, 204, 204, 0.5);
}

.Dictionary .hint {
  text-align: left;
  font-size: 11px;
  opacity: 0.6;
}
